extends layout

block content
  .col-md-12.col-xs-12
    .panel.panel-default
      .panel-heading
        strong Update your nodes
      .panel-body
        :markdown
         

          ### HOW TO UPDATE YOUR NODES
          *Just follow these steps:*

          *  **Close the wallet.**  

          *  **Open your Espers data folder and delete the file "peers.dat"**  

          *  **Edit Espers.conf and delete all lines that start with “addnode=…”**       

          *  **Copy and paste these lines into your Espers.conf:**  
             
            addnode=37.139.186.138:22448  
            addnode=144.76.78.141:22448  
            addnode=217.61.4.198:22448  
            addnode=212.237.32.138:22448  
            addnode=80.211.178.121:22448  
            addnode=81.202.164.230:22448  
            addnode=207.246.108.125:22448  
            addnode=193.31.25.111:22448  
            addnode=46.4.27.201:22448  
            addnode=194.67.221.52:22448  
            addnode=86.4.194.75:22448  
            addnode=108.61.175.156:22448  
            addnode=31.192.147.20:22448  
            addnode=42.51.33.196:22448  
            addnode=149.56.154.75:22448  
            addnode=217.61.6.53:22448  
            addnode=194.182.65.33:22448  
            addnode=80.211.203.239:22448  
            addnode=194.87.235.171:22448  
            addnode=94.130.64.143:22448  
            addnode=110.169.49.26:22448  
            addnode=198.245.50.213:22448  
            addnode=92.125.140.58:22448  
            addnode=94.177.246.216:22448  
            addnode=159.89.114.40:22448  
            addnode=218.49.34.36:22448  
            addnode=80.211.27.133:22448  
            addnode=80.211.102.238:22448  
            addnode=80.211.102.142:22448  
            addnode=80.211.242.126:22448  
        
        :markdown
          ------

          ### How-to Guides
          *Step by step how to do*

          *  **Snapshot how to**  
          *[https://blog.espers.io/using-the-snapshot-d8eb6d1cb3f6](https://blog.espers.io/using-the-snapshot-d8eb6d1cb3f6)*

          *  **Setting up the Espers wallets**  
          *[https://blog.espers.io/how-to-install-espers-wallet-on-the-raspberry-pi-d6837d477ca8](https://blog.espers.io/how-to-install-espers-wallet-on-the-raspberry-pi-d6837d477ca8)*

          *  **Espers Wallet on the Raspberry Pi 3**  
          *[https://blog.espers.io/getting-espers-wallet-and-setting-it-up-1ac91c0bfd21](https://blog.espers.io/getting-espers-wallet-and-setting-it-up-1ac91c0bfd21)*

          *  **This and more can be found on our blog**  
          *[https://blog.espers.io](https://blog.espers.io)*

    .footer-padding
